@import "tailwindcss";
@import "tw-animate-css";
@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap");

@theme {
  --color-custom-gray: #f3f4f6;
  --color-custom-white: #ffffff;
  --color-custom-blue: #2563eb;
  --color-custom-slate: #475569;
  --color-custom-black: #000000;
  --font-archivo: "Archivo", sans-serif;
}

body {
  font-family: var(--font-archivo);
}
